<nav x-data="{ mobileMenuIsOpen: false }" @click.away="mobileMenuIsOpen = false" class="flex items-center justify-between px-6 py-1 mb-2 border-b-2" aria-label="penguin ui menu">
	<!-- Brand Logo -->
	<a href="#" class="text-2xl font-bold text-gray-950 dark:text-gray-100">
		{% comment %} <span>Peng<span class="text-sky-900 dark:text-sky-400">ui</span>n</span> {% endcomment %}
		<!-- <img src="./your-logo.svg" alt="brand logo" class="w-10" /> -->
		{% include "code/modle.html" %}
	</a>
	{% include "code/run.html" %}
	{% include "code/user.html" %}

</nav>
