<div class="flex gap-2">
    <!-- Button 2 -->
    <div x-data="{ isOpen: false }">
        <button 
            type="submit" 
            onclick="evaluatePython()"
            {% comment %} hx-post="{% url 'code' problems.id %} " hx-target="#content-div" {% endcomment %}
            @mouseover="isOpen = true"
            @mouseleave="isOpen = false"
            class="text-gray-800 hover:bg-gray-200 font-bold p-2 rounded transition-colors duration-300">
            <div class="flex flex-row gap-[1px] items-center justify-center">
                <svg class="w-6 h-6 text-blue-500 dark:text-white" fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="m4 11.9999v-3.56001c0-4.42 3.13-6.22999 6.96-4.01999l3.09 1.78 3.09 1.78c3.83 2.21 3.83 5.83 0 8.04l-3.09 1.78-3.09 1.78c-3.83 2.21-6.96.4-6.96-4.02z" stroke="#292d32" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5"/></svg>
                <p class="text-xs">
                    Tekshirish
                </p>
            </div>
        </button>
    
        <div 
        onclick="evaluatePython()"
        x-show="isOpen"
             x-transition:enter="transition ease-out duration-300"
             x-transition:enter-start="opacity-0 transform scale-95"
             x-transition:enter-end="opacity-100 transform scale-100"
             x-transition:leave="transition ease-in duration-200"
             x-transition:leave-start="opacity-100 transform scale-100"
             x-transition:leave-end="opacity-0 transform scale-95"
             class="popover absolute bg-gray-700 border shadow-md mt-2 px-4 py-2 rounded-lg">
            
            <p class="text-white text-sm">Ishga Tushirish</p>
        </div>
    </div>
    <!--1 bar-->
    <div x-data="{ isOpen: false }">
        <button
        id="confettiButton"
        type="submit" 

            @mouseover="isOpen = true"
            @mouseleave="isOpen = false"
            class="text-green-400 hover:bg-green-100 font-bold p-2 rounded transition-colors duration-300">
            <div class="flex flex-row gap-[1px] items-center justify-center">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_3098_154395)">
                    <path d="M13.3333 13.3332L9.99997 9.9999M9.99997 9.9999L6.66663 13.3332M9.99997 9.9999V17.4999M16.9916 15.3249C17.8044 14.8818 18.4465 14.1806 18.8165 13.3321C19.1866 12.4835 19.2635 11.5359 19.0351 10.6388C18.8068 9.7417 18.2862 8.94616 17.5555 8.37778C16.8248 7.80939 15.9257 7.50052 15 7.4999H13.95C13.6977 6.52427 13.2276 5.61852 12.5749 4.85073C11.9222 4.08295 11.104 3.47311 10.1817 3.06708C9.25943 2.66104 8.25709 2.46937 7.25006 2.50647C6.24304 2.54358 5.25752 2.80849 4.36761 3.28129C3.47771 3.7541 2.70656 4.42249 2.11215 5.23622C1.51774 6.04996 1.11554 6.98785 0.935783 7.9794C0.756025 8.97095 0.803388 9.99035 1.07431 10.961C1.34523 11.9316 1.83267 12.8281 2.49997 13.5832" stroke="currentColor" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_3098_154395">
                    <rect width="20" height="20" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>
                
                <p class="text-sm">
                    Yuborish
                </p>
            </div>
        </button>
    
        <div x-show="isOpen"
             x-transition:enter="transition ease-out duration-300"
             x-transition:enter-start="opacity-0 transform scale-95"
             x-transition:enter-end="opacity-100 transform scale-100"
             x-transition:leave="transition ease-in duration-200"
             x-transition:leave-start="opacity-100 transform scale-100"
             x-transition:leave-end="opacity-0 transform scale-95"
             class="popover absolute bg-gray-700 border shadow-md mt-2 px-4 py-2 rounded-lg">
            
            <p class="text-white text-sm" >Yuborish</p>
        </div>
    </div>
    
    
</div>